#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.introText{
    font-weight:700;
    color:#ff7c04;
    
}
.introName{
    font-weight:700;
    color:#ff7c04;
}
.cursor {
    display: inline-block;
    width: 2px;
    height: 0px;
    background-color: darkblue;
    color: white;
    
    animation: blink 0.5s steps(25,end) infinite, cursor .1s steps(25, end);
  }
  @keyframes blink {
    from { width: 0 }
}
@keyframes cursor {
    50% { border-color: transparent }
}
  
 
  
.cena{
    transition: all 0.3s ease;
}
.cena:hover{
     transform: scale(1.5);
}
.bg{
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: -1;
    object-fit: fill;
    height: 500px;
    width: 100vh;
}
.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 50px;
    font-weight: 700;
    color: #ff7c04;
}

.typing {
    width: 400px;
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;
    animation: typing 1.5s steps(25, end), cursor .1s steps(25, end) ;
}
@keyframes typing {
    from { width: 0 }
}
@keyframes cursor {
    50% { border-color: transparent }
}

.about{
    text-align: center;
}
.pc{
    position: absolute;
    top: 10rem;
    right: 20rem;
    z-index: -1;
    object-fit: cover;
    height: 20vh;
    width: 20vh;
}
.hmm{
    margin-left: 200px;
}
.well{
    width: 30%;
    margin-top: 20px;
}
.onlyPara{
    font-size: large;
    font-weight: 300;
    letter-spacing: 1px;
}
@media screen and (max-width:500px) {
    .introContent{
        margin-top: 50px;
    }
    .bg{
        height: 400px;
        object-fit: fill;
    }
    #intro{
       height: 700px;
    }
    .hello{
        margin-top: 80px !important;
    }
}
@media screen and (max-width:400px) {
    .hello{
        margin-top: 180px !important;
        font-size: 40px;
    }
    .fb{
      height: 100px;
    }
    .introContent{
        margin-top: 80px;
    }
    .introTxt{
        font-size: 30px;
        font-weight:700;
        color:#ff7c04;
        
    }
    .introName{
        font-size: 30px;
        font-weight:700;
        color:#ff7c04;
    }
    .bg{
        height: 350px;
        object-fit: fill;
    }
}